.container {
  width: 800px;
  margin-top: 50px;
}

section {
  line-height: 10px;
}

section p {
  line-height: 0px;
}

section h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 150px;
}
