body {
  font-family: "Poppins", sans-serif;
}

.row {
  margin: 0 auto;
  max-width: 800px;
}

.forecast-today {
  padding: 30px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #fddcd2;
  padding: 40px;
}

.Forecast h4 {
  font-size: 18px;
}

.Forecast .currentWeather {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.Forecast h3 {
  font-size: 60px;
  display: inline;
  margin-bottom: 0;
  margin-left: 5px;
}

.Forecast .unit {
  position: relative;
  top: -32px;
  margin-left: 2px;
}

.forecast-styling {
  background-color: bisque;
  padding: 40px;
  border-bottom: 2px solid black;
}

.forecast-next-day {
  background-color: #fff9f8;
  border: 3px solid #fddcd2;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 30px;
}

.fa-solid {
  text-align: right;
}
