.search-bar {
  padding: 10px 100px;
  margin: 0 auto;
  border-radius: 0;
  border: none;
}

.search-button {
  padding: 10px 51px;
  margin: 0 auto;
  border-radius: 0;
  border: none;
  background-color: white;
}

.search-button:hover {
  background-color: #efefef;
}

.new-city {
  border-bottom: 2px solid black;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.col-3 {
  border-left: 2px solid black;
}

.col-3:hover {
  background-color: #efefef;
}
