.WeatherTemperature h3 {
  font-size: 60px;
  display: inline;
  margin-bottom: 0;
  margin-left: 5px;
}

.WeatherTemperature .unit {
  position: relative;
  top: -32px;
  margin-left: 2px;
}

.WeatherTemperature a {
    text-decoration: none;
    color: black;
}

.WeatherTemperature a:hover {
    color: #AE8F85;
}